.vsm-sidebar-menu {
  &.vsm--background{
    background-color: $vsm--background-color;
  }

  &.vsm_collapsed {

    .vsm--link_level-1.vsm--link_hover,
    .vsm--link_level-1:hover {
      & > .vsm--icon-area {
        color: $mobile-icon-color;
        background-color: $mobile-icon-bg;
      }
    }
  }

  &.vsm_expanded {
    width: var(--width);
    min-width: var(--width);
    transform: translateX(0);

    &+.v-overlay {
      @media (max-width: 992px) {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .vsm--item_open {
      .vsm--link_active {
        &::after {
          display: none;
        }
      }

      .vsm--link {

        &::before {
          display: none;
        }

        &_level-1 {
          color: $vsm--item-color-open;
          background-color: $vsm--item-bg-open;

          & .vsm--icon-area {
            color: $vsm--icon-color-open;
            background-color: $vsm--icon-bg-open;
          }
        }
      }
    }
  }

  .vsm--link {
    color: $vsm--item-color;

    &_exact-active,
    &_active {
      color: $vsm--item-color-active;
      //background-color: $vsm--item-bg-active;
    }

    &_level-1 {

      &.vsm--link_exact-active,
      &.vsm--link_active {
        position: relative;

        & .vsm--icon-area {
          color: $vsm--icon-color-active;
          background-color: $vsm--icon-bg-active;
        }
      }

      & .vsm--icon-area {
        background-color: $vsm--icon-bg;
      }
    }

    &_level-2, &_level-3 {
      padding: 8px 12px;
    }

    &_hover,
    &:hover {
      color: $vsm--item-color-hover;
      background-color: $vsm--item-bg-hover;
    }

    &_mobile-item {
      color: $mobile-item-color;

      &.vsm--link_hover,
      &:hover {
        color: $mobile-item-color;
      }
    }
  }

  .vsm--icon-area {
    color: $vsm--icon-color;
  }

  .vsm--dropdown {
    padding: 4px;
    //padding: 0 0 0 $vsm--icon-size-sm;
    margin: 4px 0 4px 50px;
    border: 1px solid $vsm--line-color;
    border-radius: 12px;

    & .vsm--list {
      // todo here
    }

    & .vsm--link {
      color: $dropdown-color;
    }

    & .vsm--icon-area > .vsm--icon {
      color: $dropdown-color;
    }
  }

  .vsm--mobile-bg {
    //background-color: $mobile-item-bg;
  }

  &.vsm_rtl {

    .vsm--link_level-1.vsm--link_active,
    .vsm--link_level-1.vsm--link_exact-active {
      box-shadow: -3px 0px 0px 0px $vsm--primary-color inset;
    }
  }

  .vsm--header {
    color: rgba($vsm--item-color, 0.7);
  }

  .vsm--badge_default {
    color: $vsm--item-color;
    background-color: darken($vsm--background-color, 5%);
  }

  .vsm--toggle-btn {
    color: $vsm--item-color;
    background-color: darken($vsm--background-color, 5%);
  }
}