$vsm--background-color: #f2f2f2;
$vsm--item-color: #262626;
$vsm--icon-bg: #bbc5d6;
$vsm--icon-color-active: #fff;
$vsm--icon-bg-active: $vsm--item-color;
$vsm--item-bg-hover: rgba(darken($vsm--background-color, 5%), 0.5);
$dropdown-bg: #e3e3e3;

$vsm--accent-color: #4285f4 !default;
$vsm--line-color: rgb(231, 231, 233);

$vsm--scrollbar-bg-color: #333;
$vsm--scrollbar-track-color: #999;

.vsm-sidebar-menu.vsm_white-theme {
  &.vsm--background {
    background-color: $vsm--background-color;
  }

  .vsm--link {
    color: $vsm--item-color;

    &_exact-active,
    &_active {
      color: $vsm--item-color-active;
      background-color: $vsm--item-bg-active;
    }

    &_level-1 {

      &.vsm--link_exact-active,
      &.vsm--link_active {
        box-shadow: 3px 0 0 0 $vsm--primary-color inset;

        & .vsm--icon {
          color: $vsm--icon-color-active;
          background-color: $vsm--icon-bg-active;
        }
      }

      & .vsm--icon {
        background-color: $vsm--icon-bg;
      }
    }

    &_hover,
    &:hover {
      color: $vsm--item-color-hover;
      background-color: $vsm--item-bg-hover;
    }

    &_mobile-item {
      color: $mobile-item-color;

      &.vsm--link_hover,
      &:hover {
        color: $mobile-item-color;
      }
    }
  }

  &.vsm_collapsed {

    .vsm--link_level-1.vsm--link_hover,
    .vsm--link_level-1:hover {
      .vsm--icon {
        color: $mobile-icon-color;
        background-color: $mobile-icon-bg;
      }
    }
  }

  .vsm--icon {
    color: $vsm--icon-color;
  }

  .vsm--dropdown {
    & .vsm--list {
      background-color: $dropdown-bg;
    }

    & .vsm--link {
      color: $dropdown-color;
    }

    & .vsm--icon {
      color: $dropdown-color;
    }
  }

  .vsm--mobile-bg {
    background-color: $mobile-item-bg;
  }

  &.vsm_expanded {
    min-width: var(--width);
    width: var(--width);
    transform: translateX(0);

    &+.v-overlay {
      @media (max-width: 992px) {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .vsm--item_open {
      .vsm--link {
        &_level-1 {
          color: $vsm--item-color-open;
          background-color: $vsm--item-bg-open;

          & .vsm--icon {
            color: $vsm--icon-color-open;
            background-color: $vsm--icon-bg-open;
          }
        }
      }
    }
  }

  &.vsm_rtl {

    .vsm--link_level-1.vsm--link_active,
    .vsm--link_level-1.vsm--link_exact-active {
      box-shadow: -3px 0px 0px 0px $vsm--primary-color inset;
    }
  }

  .vsm--header {
    color: rgba($vsm--item-color, 0.7);
  }

  .vsm--badge_default {
    color: $vsm--item-color;
    background-color: darken($vsm--background-color, 5%);
  }

  .vsm--toggle-btn {
    color: $vsm--item-color;
    background-color: darken($vsm--background-color, 5%);
  }
}