.v-sidebar-menu {
  * {
    box-sizing: border-box;
  }

  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  text-align: left;
  transition: 0.3s all ease;

  background-color: $base-bg;
  border-right: 1px solid $line-color;
  padding: 1rem .5rem;

  @media (max-width: 992px) {
    position: fixed;
  }

  .vsm--scroll-wrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 8px 0 0;
  }

  .vsm--dropdown >.vsm--list {
    padding: 5px;
  }

  .vsm--header {
    padding: .5rem 1rem;
    margin: 1.5rem 0 .5rem 0;
    //border-bottom: 1px solid $line-color;

    color: $line-color;
    font-size: .75rem;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
  }

  .vsm--item {
    position: relative;
    display: block;
    width: 100%;
    white-space: nowrap;
  }

  .vsm--link {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 20;
    cursor: pointer;
    user-select: none;
    transition: 0.3s all ease;
    padding: .35rem .5rem !important;
    border-radius: 8px;
    margin-bottom: 4px;

    font-size: $item-font-size;
    font-weight: 500;
    line-height: $item-line-height;
    text-decoration: none;

    &_exact-active,
    &_active {
      font-weight: 500;
    }

    &_disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &_level-1 {
      padding: .35rem .25rem;
      border-radius: 8px;

      .vsm--icon {
        flex-shrink: 0;
        height: $icon-height;
        width: $icon-width;
        border-radius: 8px;

        text-align: center;
        line-height: $icon-height;
      }
    }
  }

  .vsm--icon {
    display: inline-block;
    margin-right: 1rem;
  }

  .vsm--title {
    flex-grow: 1;
  }

  .vsm--arrow {
    width: 2rem;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    transition: 0.3s transform ease;

    &:after {
      content: '\f105';
      font-family: 'Font Awesome 5 Free';
    }

    &_open {
      transform: rotate(90deg);
    }

    &_slot:after {
      display: none;
    }
  }

  .vsm--badge {
    &_default {
      height: 20px;
      padding: 0px 6px;
      border-radius: 5px;

      font-size: 10px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .vsm--area {
    min-height: $item-line-height;
    height: fit-content;
    width: 100%;
    margin: 0 0 24px 0;
  }

  .vsm--toggle-btn {
    $toggle-size: 24px;
    $toggle-icon-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: $toggle-size;
    width: $toggle-size;
    border-radius: 50%;
    overflow: hidden;

    position: absolute;
    //top: 0;
    right: -12px;
    z-index: 9999;

    border: 1px solid $line-color;
    box-shadow: 0 0 1px $line-color;
    background-color: rgba(20, 20, 20, .4);
    cursor: pointer;
    text-align: center;
    font-style: normal;
    font-weight: 900;

    :is(svg) {
      width: $toggle-icon-size;
      height: $toggle-icon-size;
      color: $line-color;
    }

    &:after {
      //content: '\f337';
      //font-family: 'Font Awesome 5 Free';
    }

    &_slot:after {
      display: none;
    }

    &.collapsed {
      svg {
        transform: rotate(180deg);
        transition: all .3s linear;
      }
    }
  }

  &.vsm_collapsed {
    min-width: var(--widthCollapsed);
    width: var(--widthCollapsed);

    @media (max-width: 992px) {
      max-width: var(--width);
      transform: translateX(-105%);
    }
    
    & .vsm--link_level-1 {

      &.vsm--link_hover,
      &:hover {
        background-color: transparent !important;
      }
    }
  }

  &.vsm_rtl {
    right: 0;
    left: inherit;
    text-align: right;
    direction: rtl;

    & .vsm--icon {
      margin-left: 10px;
      margin-right: 0px;
    }
  }

  &.vsm_relative {
    position: relative;
    height: 100%;
  }

  .expand-enter-active,
  .expand-leave-active {
    transition: height 0.3s ease;
    overflow: hidden;
  }

  .expand-enter,
  .expand-leave-to {
    height: 0 !important;
  }

  .slide-animation-enter-active {
    transition: width 0.3s ease;
  }

  .slide-animation-leave-active {
    transition: width 0.3s ease;
  }

  .slide-animation-enter,
  .slide-animation-leave-to {
    width: 0 !important;
  }

  .fade-animation-enter-active {
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .fade-animation-leave-active {
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .fade-animation-enter,
  .fade-animation-leave-to {
    opacity: 0 !important;
    visibility: hidden !important;
  }

  .vsm--mobile-item >.vsm--item {
    padding: 0 !important;
    margin: 0 !important;
  }

  .vsm--mobile-item >.vsm--item >.vsm--link {
    margin: 0 !important;
    background-color: transparent !important;
    line-height: $icon-height !important;
  }
}