

.vsm-sidebar-menu {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  text-align: left;
  transition: 0.3s all ease;

  background-color: $vsm--background-color;
  border-right: 1px solid $vsm--line-color;

  @media (max-width: 992px) {
    position: fixed;
  }

  * {
    box-sizing: border-box;

    scrollbar-color: $vsm--scrollbar-thumb-color $vsm--scrollbar-track-color;
    &::-webkit-scrollbar {
      scrollbar-width: thin;
      width: 3px; /* Mostly for vertical scrollbars */
      height: 8px; /* Mostly for horizontal scrollbars */
    }
    &::-webkit-scrollbar-thumb { /* Foreground */
      background: $vsm--scrollbar-thumb-color;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-track { /* Background */
      width: 3px;
      background: $vsm--scrollbar-track-color;
    }
  }

  &:not(.vsm_expanded, .vsm_collapsed) {
    padding: $vsm--space-md;
  }

  &.vsm_collapsed {
    padding-top: $vsm--space-lg;

    .vsm--area {
      padding: 0 $vsm--space-sm;
      margin-bottom: $vsm--space-md;
    }
    .vsm--area.logo-area {
      padding: 0 $vsm--space-md;
      margin-bottom: $vsm--space-lg;
    }

    & > .vsm--scroll-wrapper.scroll--up {
      border-bottom-color: transparent !important;
    }

    .vsm--item_level-1 {
      margin-bottom: $vsm--space-md;

      .vsm--icon {
        min-width: 32px;
      }

      .vsm--link {
        padding: 0 $vsm--space-md;
      }
    }
  }
  &.vsm_expanded {
    padding-top: $vsm--space-lg;

    .vsm--area {
      padding: $vsm--space-sm;
      margin-bottom: $vsm--space-lg;
    }
    .vsm--area.logo-area {
      padding: 0 $vsm--space-lg;
      margin-bottom: $vsm--space-lg;
    }

    .vsm--item_level-1, .vsm--header {
      padding: 0 $vsm--space-lg;
    }
  }

  .vsm--scroll-wrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    border: 1px solid transparent;
    transition: border-color .3s ease;

    &.scroll--up {
      border-bottom-color: $vsm--line-color;

      & > .vsm--scroll-anchor.bottom-anchor {
        // todo here
        background-color: $vsm--glass-background;
      }
    }

    &.scroll--down {
      border-top-color: $vsm--line-color;

      & > .vsm--scroll-anchor.top-anchor {
        // todo here
        background-color: $vsm--glass-background;
      }
    }

    .vsm--scroll-anchor {
      height: fit-content;
      width: 100%;
      position: sticky;
      z-index: 99999;
      background-color: transparent;

      &.top-anchor {
        top: 0;
        padding-top: 4px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;

        .vsm--scroll-setter {
          transform: translateX(-50%);
          box-shadow:
                  0 -3px -5px rgba(0, 0, 0, 0.1),
                  0 -3px -6px rgba(0, 0, 0, 0.1);
        }
      }
      &.bottom-anchor {
        bottom: 0;
        padding-bottom: 4px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;

        .vsm--scroll-setter {
          transform: translateX(-50%);
          box-shadow:
                  0 3px 5px rgba(0, 0, 0, 0.1),
                  0 3px 6px rgba(0, 0, 0, 0.1);
        }
      }

      .vsm--scroll-setter {
        position: relative;
        height: $vsm--icon-size-sm;
        width: $vsm--icon-size-sm;
        left: 50%;

        outline: none;
        border: 2px solid $vsm--line-color;
        border-radius: 50%;
        background-color: $vsm--background-color;
        
        &:hover {
          cursor: pointer;
        }

        :is(svg, i) {
          height: $vsm--icon-size-xs;
          width: $vsm--icon-size-xs;
          color: white;
        }
      }
    }

    & > .vsm--list {
      //overflow-x: hidden;
      margin: 0;
    }
  }

  .vsm--dropdown > .vsm--list {
    //padding: 4px;
  }

  .vsm--area {
    position: relative;
    min-height: $vsm--item-height;
    height: fit-content;
    width: 100%;
    margin: $vsm--area-margin;

    &.area--hidden {
      display: none;
    }

    &.logo-area {
      //min-height: $vsm--item-height;
    }
   }

  .vsm--header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: $vsm--item-gap;
    margin: 1.5rem 0 .5rem 0;

    &_inner {
      min-height: 16px;
      flex: 1;
      padding: 0 $vsm--space-xxs;
      color: $vsm--line-color;
      font-family: "Nunito", "Helvetica", sans-serif;
      font-size: $vsm--item-header-font-size;
      font-weight: bold;
      letter-spacing: .4px;
      white-space: nowrap;
      text-transform: uppercase;
    }

    :is(svg, i) {
      height: 20px !important;
      width: 20px !important;
    }
  }

  .vsm--item {
    position: relative;
    display: block;
    width: 100%;
    white-space: nowrap;
    min-height: $vsm--space-xxl;
    min-width: $vsm--space-xxl;

    &_level-1 {
      margin-bottom: $vsm--space-xxs;
    }

    &__level-2, &__level-3 {
      margin-bottom: $vsm--space-xxs;
    }

    &:last-child {
      margin: 0;
    }
  }

  .vsm--link {
    display: flex;
    align-items: center;
    position: relative;
    min-height: $vsm--item-height;
    gap: $vsm--item-gap;
    padding: 4px;
    z-index: 20;
    cursor: pointer;
    user-select: none;
    transition: 0.3s all ease;
    border-radius: $vsm--item-radius;

    font-size: $vsm--item-font-size;
    font-weight: 500;
    line-height: $vsm--item-line-height;
    text-decoration: none;

    &_exact-active,
    &_active {
      font-weight: 500;
    }

    &_disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &_dotted {
      &::before {
        display: none !important;
      }
    }

    &:last-child {
      margin: 0;
    }

    &_level-1 {

      .vsm--icon {
        flex-shrink: 0;
        color: $vsm--icon-color;
        height: $vsm--icon-size-md;
        width: $vsm--icon-size-md;
        border-radius: 8px;

        text-align: center;
        line-height: $vsm--icon-size-md;
      }
    }
  }

  .vsm--icon {
    display: inline-block;
    color: $vsm--icon-color;
    height: $vsm--icon-size-md;
    width: $vsm--icon-size-md;
  }

  .vsm--title {
    flex-grow: 1;
  }

  .vsm--arrow {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.3s transform ease;

    :is(svg, i) {
      width: $vsm--icon-size-sm;
      height: $vsm--icon-size-sm;
      margin: auto 0;
      color: $vsm--icon-color;
    }

    &:after {
      display: none;
    }

    &_open {
      transform: rotate(180deg);
    }

    &_slot:after {
      display: none;
    }
  }

  .vsm--badge {
    &_default {
      height: 20px;
      padding: 0px 6px;
      border-radius: 5px;

      font-size: 10px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .vsm--toggle-btn {

    display: flex;
    align-items: center;
    justify-content: center;
    height: $vsm--icon-size-sm;
    width: $vsm--icon-size-sm;
    border-radius: 50%;
    overflow: hidden;

    position: absolute;
    top: 50%;
    right: -12px;
    z-index: 9999;
    transform: translateY(-50%);

    border: 1px solid $vsm--line-color;
    box-shadow: 0 0 1px $vsm--line-color;
    background-color: rgba(20, 20, 20, .4);
    cursor: pointer;
    text-align: center;
    font-style: normal;
    font-weight: 900;

    :is(svg) {
      width: $vsm--icon-size-xs;
      height: $vsm--icon-size-xs;
      color: $vsm--line-color;
    }

    &:after {
      //content: '\f337';
      //font-family: 'Font Awesome 5 Free';
    }

    &_slot:after {
      display: none;
    }

    &.collapsed {
      svg {
        transform: rotate(180deg);
        transition: all .3s linear;
      }
    }
  }

  &.vsm_collapsed {
    min-width: var(--widthCollapsed);
    width: var(--widthCollapsed);

    @media (max-width: 992px) {
      max-width: var(--width);
      transform: translateX(-105%);
    }
    
    & .vsm--link_level-1 {

      &.vsm--link_hover,
      &:hover {
        background-color: transparent !important;
      }
    }
  }

  &.vsm_rtl {
    right: 0;
    left: inherit;
    text-align: right;
    direction: rtl;

    & .vsm--icon {
      margin-left: 10px;
      margin-right: 0px;
    }
  }

  &.vsm_relative {
    position: relative;
    height: 100%;
  }

  .expand-enter-active,
  .expand-leave-active {
    transition: height 0.3s ease;
    overflow: hidden;
  }

  .expand-enter,
  .expand-leave-to {
    height: 0 !important;
  }

  .slide-animation-enter-active {
    transition: width 0.3s ease;
  }

  .slide-animation-leave-active {
    transition: width 0.3s ease;
  }

  .slide-animation-enter,
  .slide-animation-leave-to {
    width: 0 !important;
  }

  .fade-animation-enter-active {
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .fade-animation-leave-active {
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .fade-animation-enter,
  .fade-animation-leave-to {
    opacity: 0 !important;
    visibility: hidden !important;
  }

  .vsm--mobile-item >.vsm--item {
    padding: 0 !important;
    margin: 0 !important;
  }

  .vsm--mobile-item {
    align-items: center;
    min-height: $vsm--item-height;
    //border: 1px solid red;

    & .vsm--dropdown_mobile-item {
      height: 100%;
    }

    & .vsm--dropdown_mobile-item {
      z-index: 99999;
      margin: 4px 0 0 8px !important;
      background-color: $vsm--background-color;
      box-shadow: 0 0 1px lighten($vsm--background-color, .12%);
    }

    & .vsm--item.vsm--item_level-1 {
      min-height: $vsm--item-height !important;
      display: flex;
      align-items: center;
      width: 100%;

      .vsm--link_mobile-item.vsm--link_level-1 {
        min-height: 32px;
        padding: 4px 12px !important;
        width: fit-content !important;
        margin: 24px 0 0 0;

        &::before {
          display: none;
        }

        .vsm--arrow {
          display: none;
        }
      }
    }
  }

  .vsm--mobile-item > .vsm--item > .vsm--link {
    margin: 0 0 0 8px !important;
    background-color: darken($vsm--background-color, .5%) !important;
    backdrop-filter: blur(8px) saturate(120%);
  }
}