// @colors
$vsm--primary-color: #4285f4 !default;
$vsm--secondary-color: #a15dde !default;
$vsm--line-color: rgb(58, 58, 60);
$vsm--background-color: #2a2a2e !default;
$vsm--glass-background: rgba(darken($vsm--background-color, 5%), 0.68) !default;
$vsm--accent-color: #4285f4 !default;

$vsm--opacity: .87;
$vsm--opacity-active: .68;
$vsm--opacity-disabled: .37;

// @sidebar
$vsm--sidebar-padding: 16px 0 0 0 !default;

$vsm--area-padding: 8px 0 !default;
$vsm--area-margin: 0 0 24px 0 !default;

$vsm--scrollbar-track-color: #333;
$vsm--scrollbar-thumb-color: #999;

// @dropdown
$dropdown-color: null !default;
$dropdown-bg: lighten( $vsm--background-color, 5% ) !default;

// @item
$vsm--item-height: 45px !default;
$vsm--item-padding: 6px 10px !default;
$vsm--item-font-size: 16px !default;
$vsm--item-line-height: 18px !default;
$vsm--item-radius: 8px;


$vsm--item-color: #ffffff !default;
$vsm--item-color-hover: null !default;
$vsm--item-color-open: #fff !default;
$vsm--item-color-active: null !default;

$vsm--item-bg-hover: rgba(darken($vsm--background-color, 5%), 0.68) !default;
$vsm--item-bg-open: $vsm--background-color !default;
$vsm--item-bg-active: null !default;


// @icon
$vsm--icon-color: #FFF !default;
$vsm--icon-color-open: null !default;
$vsm--icon-color-active: null !default;
$vsm--icon-bg: darken( $vsm--background-color, 5% ) !default;
$vsm--icon-bg-open: $vsm--item-bg-open !default;
$vsm--icon-bg-active: null !default;

$vsm--icon-size-lg: 40px !default;
$vsm--icon-size-md: 32px !default;
$vsm--icon-size-sm: 24px !default;
$vsm--icon-size-xs: 16px !default;

$mobile-item-color: #fff !default;
$mobile-item-bg: $vsm--primary-color !default;
$mobile-icon-color: $mobile-item-color !default;
$mobile-icon-bg: $mobile-item-bg !default;
